/* General styles
-------------------------------------------------- */
code{
  display: inline-block;
}
/* prevents the option and default value from line wrapping to make room for long descriptions */
.table td:nth-child(1), .table td:nth-child(2) {
  white-space:nowrap;
}
#demo-toggle-knob{
  display: none;
}
/* knobs */
#advanced-usage input, #wave-equation input{
 display: none;
}
.knob-holder canvas{
 cursor: pointer;
}

/* Sections
-------------------------------------------------- */
/* padding for in-page bookmarks and fixed navbar */
section {
  padding-top: 30px;
}
section > .page-header,
section > .lead {
  color: #5a5a5a;
}
section > ul li {
  margin-bottom: 5px;
}

/* Separators (hr) */
.left-separator {
  margin: 40px 0 39px;
}

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 70px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}

/* Sidenav
-------------------------------------------------- */
@media (max-width: 767px){
  .left-sidenav.affix {
    position: static;
    width: auto;
    top: 40px;
  }
}

@media (max-width: 980px){
  /*.left-sidenav {
    top: 0;
    margin-top: 30px;
    margin-right: 0;
  }*/
}

.left-sidenav {
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.left-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.left-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.left-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.left-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.left-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.left-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.left-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.left-sidenav .active .icon-chevron-right,
.left-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.left-sidenav.affix {
  top: 20px;
}
.left-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

/* Base class
------------------------- */
.jumbotron {
  position: relative;
  padding: 70px 0 10px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: white;
  background: #310000;
  background: -moz-linear-gradient(45deg,  #310000 0%, #AF3636 100%);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#310000), color-stop(100%,#AF3636));
  background: -webkit-linear-gradient(45deg,  #310000 0%,#AF3636 100%);
  background: -o-linear-gradient(45deg,  #310000 0%,#AF3636 100%);
  background: -ms-linear-gradient(45deg,  #310000 0%,#AF3636 100%);
  background: linear-gradient(45deg,  #310000 0%,#AF3636 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#310000', endColorstr='#AF3636',GradientType=1 );
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Code examples
-------------------------------------------------- */

/* Base class */
.burn-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* Echo out a label for the example */
.burn-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

/* Remove spacing between an example and it's code */
.burn-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}

/* Footer
-------------------------------------------------- */

.footer {
  padding: 70px 0;
  margin-top: 70px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
}
.footer p {
  margin-bottom: 0;
  color: #777;
}
.footer-links {
  margin: 10px 0;
}
.footer-links li {
  display: inline;
  margin-right: 10px;
}

/* Burn demo
-------------------------------------------------- */
.burn-holder{
  background: black;
  line-height: normal;
  font-weight: bold;
  text-align: center;
  overflow: hidden;
  padding: 1em 0 .5em 0;
}
.burning {
  color: white;
}
.burn-demo{
  color: white;
  font-size: 5em;
}
.text-xxlarge{
  font-size: 10em;
}
.text-xlarge{
  font-size: 6em;
}
.text-large{
  font-size: 4em;
}
.text-medium{
  font-size: 2em;
}
#example3 .burn-holder{
  background: white;
}
#example3 .burn-demo{
  color: black;
}

/* Canvas demos
-------------------------------------------------- */
.plot-demo{
  width: 100%;
}
#plot-wave{
}